---
title: stuff I hack on
layout: default
permalink: /projects/
---

<div class="col-sm-2">
  <div class="sidebar">
    <p>{% include tagline.html %}</p>
  </div>
</div>
<div class="col-md-offset-1 col-md-9">

  <div class="projects">
    <h2>Here Be Dragons</h2>
    <p class="lead">amateur cartography with javascript</p>
    <div class="row">
      {% for project in site.projects %}
            <div class="col-md-6">
              <a href="{{project.url}}" class="project">
                <div class="project-image">
                  <img class="img-responsive" src="{{project.image}}" title="{{ project.title }}" %} />
                  <div class="project-tagline">{{ project.tagline }}</div>
                </div>
                <h2 class="project-title">{{ project.title }}</h2>
              </a>
            </div>
      {% endfor %}
    </div>
  </div>
</div>
