.header
  margin-bottom: 2em
  padding-top: 2em
  @media (max-width: 667px)
    padding-top: .5em

  @media (max-width: $screen-xs)
    margin-bottom: 0

  .header-logo,
  .header-navigation,
  .header-social
    +type(30)
    @extend %type-heading
    line-height: $line-height-base


  .header-logo
    margin-top: -30px



  .header-navigation
    @include center-block()
    text-align: center
    @media (max-width: $screen-xs)
      float: right
    .selected
      border-bottom: 2px solid $color-abel
      &:hover
        border-bottom-color: $color-black
    a
      color: $color-almostblack
      opacity: .9
      transition: all .4s ease-in-out
      &:hover
        opacity: 1


  .header-social
    a
      color: $color-almostblack
      opacity: .4
      transition: all .4s ease-in-out
      &:hover
        opacity: 1
    @media (max-width: $screen-xs)
      display: none
    @media (max-width: 667px)
      display: none
