<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width">
        <link href='http://fonts.googleapis.com/css?family=Inconsolata:400,700' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Nixie+One' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

        <!-- Custom CSS -->
        <link rel="stylesheet" href="/assets/css/main.css">

    </head>
    <body>

        <div class="wrapper">
            <div class="header navbar">
                <div class="container">
                  <div class="row">
                    <div class="flexnav">
                        <div class="brand">
                          <h5 class="header-logo"><a href="/"><img class="" height="60" width="60" src="/assets/mike-logo.png" /></a></h5>
                        </div>
                        <div class="navigation">
                            {% include navigation.html %}
                        </div>

                        <div class="social">
                            {% include social.html %}
                        </div>
                    </div>

                  </div>

                </div>
          </div>
          <div class="col-md-12 col-lg-12 area">
              {% if page.url == '/index.html' %}
                {% include welcome.html %}
              {% else %}
                {{ content }}
              {% endif %}
            </div>
        </div>

        <script src="/assets/js/jquery.min.js"></script>
        <script src="/assets/js/bootstrap.min.js"></script>
        <script>
        $(".header-navigation li a").on("click", function(){
           $(".header-navigation").find(".active").removeClass("active");
           $(this).parent().addClass("active");
        });
        </script>


    </body>
</html>
